 body{
    background: #131518;
    
 }
 .mainContainer{

    display: flex;
   
    align-items: center;
    justify-content: center;
     
}

.content{
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    margin:10rem;
    width: 412px;
    height: 416px;
    left: 514px;
    top: 195px;
    border-radius: 30px;
    
}
.starIcon > img{
   
    padding: 20px;
    border-radius: 50%;
    background-color: rgba(38, 46, 56, 1)
}

.rating-container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
    gap: 1rem;
    justify-items: center;
   
}

.rating{
    background-color: green;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size:2rem;
}

.submitSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
 